/*banner开始*/
#banner{
    width: 100%;
    height: 460px;
    /*background: #000000;*/
    /*position: relative;*/
    background: url(../img/banner-bg.jpg) repeat-x;

}
#banner .warpper{
    height: 460px;
    overflow :hidden;
    position: relative;
}
#banner .learn-more{
    width: 760px;
    height: 60px;
    position: absolute;
    left: 120px;
    top: 18px;

}
#banner .learn-more h2{
    color: #fff;
    float: left;
}
#banner .learn-more a{
    width: 182px;
    height: 50px;
    background: #00aeff;
    float: right;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
}
#banner .arrow{
    width: 29px;
    height: 50px;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}
#banner .prev{
    background-position: 0 -14px;
    left: 0;
}
#banner .next{
    background-position: -29px -14px;
    right: 0;
}
/*banner结束*/


/*news开始*/
#news{
    height: 492px;
}
#news .warpper{
    height: 492px;
}
#news .read-more{
    height: 492px;
    width: 100%;
}
#news .warpper .read-more .readmore{
    height: 492px;
    width: 334px;
}
.readmore h2{

    text-align: center;
    margin: 85px auto 0 auto;
}
.readmore .img {
    width: 100px;
    height: 100px;
    background: url("../img/sprite.png") no-repeat;
    /*overflow: hidden;*/
    margin: 26px auto 26px auto;
}
#news .read-more .readmore .design{
    background: url("../img/sprite.png") no-repeat  0 -64px;
}
#news .read-more .readmore .media{
    background: url("../img/sprite.png") no-repeat  -100px -64px ;
}
#news .read-more .readmore .apps{
    background: url("../img/sprite.png") no-repeat  -200px -64px ;
}
#news .read-more .readmore{
    float: left;
}
#news .read-more .readmore .content{
    width: 300px;
    height: 100px;
    margin: 20px;
}
.readmore .more{
    text-align: center;
}
.readmore .more a{
    color: #00aeff;
}
/*news结束*/



/*/!*works开始*!/*/
#works{
    height: 500px;
    background: #e2e7ed;
}
#works .warpper{
    height: 500px;
    overflow: hidden;
}
#works .works-img-a{
    width: 250px;
    height: 200px;
    float: left;
    background: url("../img/work1.png") no-repeat 0 0;
}
#works .works-img-b{
    width: 250px;
    height: 200px;
    float: left;
    background: url("../img/work2.png") no-repeat 0 0;
}
#works .works-img-c{
    width: 250px;
    height: 200px;
    float: left;
    background: url("../img/work3.png") no-repeat 0 0;
}
#works .works-img-d{
    width: 250px;
    height: 200px;
    float: left;
    background: url("../img/work4.png") no-repeat 0 0;
}
#works .works-img-e{
    width: 250px;
    height: 200px;
    float: left;
    background: url("../img/work5.png") no-repeat 0 0;
}
#works .works-img-f{
    width: 250px;
    height: 200px;
    float: left;
    background: url("../img/work6.png") no-repeat 0 0;
}
#works .works-img-g{
    width: 250px;
    height: 200px;
    float: left;
    background: url("../img/work7.png") no-repeat 0 0;
}
#works .works-img-h{
    width: 250px;
    height: 200px;
    float: left;
    background: url("../img/work8.png") no-repeat 0 0;
}
#works h2{
    margin: 30px 0 15px 0;
}
/*works结束*/


/*clients开始*/
#clients{
    height: 154px;
    width: 100%;
}
#clients .warpper{
    height: 154px;
}
#clients .clienta{
    float: left;
    width: 240px;
    height: 60px;
    background: url("../img/client1.png") no-repeat;
}
#clients .clientb{
    float: left;
    width: 240px;
    height: 60px;
    background: url("../img/client2.png") no-repeat;
}
#clients .clientc{
    float: left;
    width: 240px;
    height: 60px;
    background: url("../img/client3.png") no-repeat;
}
#clients .clientd{
    float:left;
    width: 240px;
    height: 60px;
    background: url("../img/client4.png") no-repeat;
}
#clients h2{
    margin-top: 30px;
}
#clients .prev{
    margin-top: 22px;
    width: 21px;
    height: 40px;
    float: left;
    background: url("../img/sprite.png") no-repeat 0 -164px;
}
#clients .next{
    margin-top: 22px;
    width: 21px;
    height: 40px;
    float: right;
    background: url("../img/sprite.png") no-repeat -22px -164px;
}
/*clients结束*/


/*footer开始*/
#footer{
    height: 176px;
    width: 100%;
    background: url("../img/footer-bg.png") repeat-x;
}
#footer .warpper{
    position: relative;
    height: 176px;
}
.menu{
    position: absolute;
    left: 0;
    top: 46px;
}
.menu li{
    float: left;
    height: 22px;
}
.menu li a{
    font-size: 15px;
    color: #626262;
}
.menu li span{
    width: 1px;
    height: 14px;
    float:left;
    background: url(../img/sprite.png) no-repeat 0 0;
    margin: 4px 25px 4px 25px
}
.footer{
    width: 36px;
    height: 36px;
    float: right;
    margin: 46px 6px 0 6px;
}
#footer .a{
    background: url("../img/sprite.png") no-repeat 0 -204px;
}
#footer .b{
    background: url("../img/sprite.png") no-repeat -36px -204px;
}
#footer .c{
    background: url("../img/sprite.png") no-repeat -72px -204px;
}
#footer .d{
    background: url("../img/sprite.png") no-repeat -108px -204px;
}
#footer .e{
    background: url("../img/sprite.png") no-repeat -144px -204px;
}
#footer .f{
    background: url("../img/sprite.png") no-repeat -180px -204px;
}
#footer p{
    position: absolute;
    top: 64px;
}
.love{
    position: absolute;
    top: 120px;
    /*margin-top: 38px;*/
}
#footer .menu a,p,.love{
    color: #fff;
}

/*footer结束*/

